@import url('https://fonts.googleapis.com/css?family=Daughters|Open+Sans+Condensed:300|Rock+Salt');

html {
    background: #fcfcfc;
}

body {
   display:flex;
   flex-wrap:wrap;
}

img {
  max-width: 100%;
}
     
.sec1,
.sec2,
.sec3,
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer {
    border-radius: 0 0 12px 12px;
    background-color: #333333;
    padding-left: 30px;
}

#logo {
    position: relative;
    width: 180px;
    top: -50px;
    left: 30px;
}

#content {
    width: 960px;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: 0px -16px 25px 5px gray;
}

#banner-div {
    height: 347px;
}

section p {
    font-family: 'Daughters', cursive;
    padding: 10px;
    font-size: 1.2em;
    text-indent: 1em;
    line-height: 1.4em;
    text-align: justify;
    color: #FFF8F0;
}

nav {
    background-color: #92140C;
    padding: 1em;
    height: 2.6em;
    margin-top: -170px;
    border-radius: 12px 12px 0 0;
}

nav a {
    color: #fde792;
    width: 124px;
    padding: 0em 1em 0.7em 1em;
}

nav li {
    font-family: 'Rock Salt', cursive;
    font-size: 1em;
    line-height: 1.8em;
    list-style-type: none;
    flex-wrap: wrap;

}

nav ul {
    display: flex;
    padding-left: 240px;
    justify-content: flex-start;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rock Salt', cursive;
    color: #fce172;
    padding: 10px;
    line-height: 1em;
}

section h2 {
    font-size: 1.2em;
    text-align: center;
}

.sec1 {
    background-color: #92140C;
}

.sec2 {
    background-color: #333333;
}

.sec3 {
    background-color: #92140C;
    padding: 10px 200px 10px 200px;
}

.hspec,
.pspec {
    color: #FFCF99;
}

.hspec-1,
.pspec-1 {
    color: #fde792;
}

#info {
    color: #FFCF99;
}

.leftcol,
.rightcol {
    flex: 1 0 15em;
    width: 48%;
}

.leftcol {
    padding-right: 5px;
}

.rightcol {
    padding-left: 5px;
}

.socialmedia {
    float: right;
    padding: 10px;
}

section img {
    display: inherit;
    border-radius: 5px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: white;
    align-items: center;
}

#banner-img {
    position: relative;
    z-index: -1;
    animation: slideIn 2s ease-out 0s 1;
}

.icon {
    width: 50px;
    border-radius: 5px;
}

.sec3 a {
    text-decoration: none;
}

nav a:hover {
    background-color: #fcd740;
    color: #92140C;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #1d1f20;
    transition: all 0.4s ease;
}

nav a:active {
   color: #fff8f0;
   transition: 0.2s ease-out;
}

.icon:hover {
    margin-top: -10px;
    transition: 0.2s ease-in;
}

@keyframes slideIn {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* Here start style for aboutus page*/

.sec-team {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #92140C;
}

.sec-team h2 {
    width: 100%;
}

.sec-team p {
    font-size: 1.2em;
}

.sec-team .hspec {
    margin-bottom: 30px;
}

.guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 33%;
}

.guide-name {
    max-width: 100%;
    text-align: center;
}

.sec1 li {
    font-family: 'Daughters', cursive;
    padding: 5px;
    font-size: 1em;
    line-height: 1em;
    text-align: justify;
    color: #fde792;
}

.email,
.phone,
.message {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
}

#payinfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: flex-start;
    padding: 0 10px 0 10px;
}

.payicon {
    margin: 5px;
}

#contactinfo {
    justify-content: flex-start;
}

#contactinfo img {
    width: 65px;
}

#secinfo h2 {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#secinfo img {
    background: transparent;
    border: none;
}


